<h2>Admin Login</h2>
<form action="/admin_login" method="post">
    <p><input type="text" placeholder="Email" name="email" required></p>
    <p><input type="password" placeholder="Password" name="password" required></p>
    <button type="submit">Login</button>
</form>

<p><a href="/register">Register</a></p>