<h2>Enter the following details:</h2>
<form action="/register" method="post">
    <p><input type="text" placeholder="Full name" name="username" required></p>
    <p><input type="text" placeholder="Email" name="email" required></p>
    <p><input type="password" placeholder="Password" name="password" required></p>
    <button type="submit">Register</button>
</form>


<p><a href="/">Login</a></p>